//Poppins
@font-face {
    font-family: "poppins-100";
    src: url('@/shared/assets/fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "poppins-200";
    src: url('@/shared/assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "poppins-300";
    src: url('@/shared/assets/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "poppins-400";
    src: url('@/shared/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "poppins-500";
    src: url('@/shared/assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "poppins-600";
    src: url('@/shared/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "poppins-700";
    src: url('@/shared/assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "poppins-800";
    src: url('@/shared/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "poppins-900";
    src: url('@/shared/assets/fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

//Ubuntu
@font-face {
    font-family: "ubuntu-300";
    src: url('@/shared/assets/fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "ubuntu-400";
    src: url('@/shared/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "ubuntu-500";
    src: url('@/shared/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "ubuntu-700";
    src: url('@/shared/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Inter */
@font-face {
    font-family: "inter-100";
    src: url('@/shared/assets/fonts/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "inter-200";
    src: url('@/shared/assets/fonts/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "inter-300";
    src: url('@/shared/assets/fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "inter-400";
    src: url('@/shared/assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "inter-500";
    src: url('@/shared/assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "inter-600";
    src: url('@/shared/assets/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "inter-700";
    src: url('@/shared/assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "inter-800";
    src: url('@/shared/assets/fonts/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "inter-900";
    src: url('@/shared/assets/fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
