* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    overflow-y: scroll; 
    overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea,
select,
button {
    margin: 0;
    font: inherit;
    box-sizing: border-box;
}

input,
textarea {
    border: none;
    outline: none;
    background-color: transparent;
}

input:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus {
    -webkit-tap-highlight-color: transparent; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    -webkit-text-fill-color: inherit !important;
    caret-color: inherit !important;
    transition: background-color 9999s ease-out, color 9999s ease-out;
}

button {
    cursor: pointer;
    border: none;
}

.typed-cursor {
    color: var(--blue-color)  !important;
}

#tsparticles {
    top: 0;
    left: 0;
    z-index: -1;
}

canvas {
    background: linear-gradient(to left, #0176ff, #00b7ff);
    background: var(--canvas-color);
        
}

.selected-flag {
    background: transparent !important;
}

.search-emoji {
    display: none !important;
}

.search-box {
    height: 35px;
    margin: 0 auto !important;
    width: 100% !important;
    border-radius: var(--border-radius-8) !important;
    padding-right: 10px;
}

.country-list {
    margin-left: -12px !important;
}
