.containerIcon {
    flex: 1;

}

.icon {
    margin-right: 5px;
}

.githubModalOverlay {
    position: fixed;
    inset: 0;
    background: var(--dark-overlay-color);
    z-index: 1000;
}

.githubModal {
    max-width: 320px;
    height: 80vh;
    max-height: 460px;
    padding: 25px;
    background-color: var(--white-soft-color); 
    border-radius: var(--border-radius-10);
}

.title {
    line-height: 1.3;
}

.hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--blue-color);
}