.link {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-50);
    background-color: var(--grey-color);
    opacity: 50%;
    &:hover {
        opacity: 1;
        background-color: var(--bg-color);
    }
}

/* Tooltip */
.tooltip {
    position: absolute;
    top: -43px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    opacity: 0;
    padding: 6px 12px;
    border-radius: var(--border-radius-5);
    background-color: var(--bg-color);
    color: var(--white-color);
    font-size: 12px;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
    
}

.tooltip::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: var(--bg-color) transparent transparent transparent;
}

.link:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}


