@use '@/app/styles/media-queries.scss' as *;

.flagIcon {
    border-radius: 5px;
}

.languageContainer {
    position: relative;
    
}

.languageModal {
    width: 160px;
    margin-top: 10px;
    position: absolute;
    left: 50%;              // центр относительно родителя
    transform: translateX(-50%); 
    top: 27px;
    padding: 5px;
    border-radius: 7px;
    border: var(--grey-border-color) 0.5px solid;
    z-index: 5;
    white-space: nowrap;
    background-color:var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.146) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.135) 0rem 0.125rem 0.25rem -0.0625rem;
    @include mobile-768 {
        top: 20px;
        left: 20px;
    }
}


.language {
    padding: 7px;
    border-radius: 6px;
    cursor: pointer;
}

.language:hover {
    background-color: #3780ff;
}

.language:hover span {
    color: white;
}

.language:hover .checkIcon{
    fill: white;
}

.language-selected {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 400;
    width: 130px;
    padding: 7px;
    text-indent: 5px;
    border-radius: 6px;
    cursor: pointer;
    color: #3780ff;
}

.language-selected:hover {
    background-color: #3780ff;
    color: white;
}

.language-selected ion-icon {
    margin-left: auto;
    --ionicon-stroke-width: 55px;
    margin-top: 2px;
}


.languageChange_btn {
    padding: 4px;
    cursor: pointer;
    background-color: #ffffff23;
    border-radius: var(--border-radius-50);
    @include mobile-768 {
        padding:2px 3px ;
    }
}
