.scrollToTopButton {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50px;
    background-color: var(--blue-color);
    color: var(--button-blue-text);
    transition: 0.2s ease-out;
    &:hover {
        background-color: color-mix(in srgb, var(--blue-color) 87%, black);
    }
}

.scrollToTopButton svg {
    transform: rotate(180deg);
}



