.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.circle,
.line,
.imageBlock {
  background: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite;
}

.circle {
  border-radius: 50%;
  flex-shrink: 0;
}

.imageBlock {
    width: 100%;
    border-radius: 12px;
    background: linear-gradient(90deg, #eee, #f5f5f5, #eee);
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite;
    position: relative;       /* ВАЖНО */
    overflow: hidden;
}

.imageBlock svg {
    position: absolute;       /* ВАЖНО */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    opacity: 0.35;            /* Чтобы не перекрывал анимацию */
    color: var(--grey-color);
}

.textLines {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleLine {
  height: 18px; /* чуть выше обычной линии */
  border-radius: 8px;
  margin-bottom: 8px;
}

.line {
  height: 14px;
  border-radius: 6px;
  width: 100%; /* по умолчанию 100%, можно менять через lineWidth */
}

/* Адаптивность */
@media (max-width: 768px) {
  .circle {
    width: 36px;
    height: 36px;
  }

  .line {
    height: 12px;
  }
}

@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}
