@use '@/app/styles/media-queries.scss' as *;

.projectsSection {
    background-color: var(--black-color);
    padding: 100px 0;
    min-height: 100vh;
}


.containerHeader hr {
    width: 20px;
    height: 2.5px;
    background-color: var(--white-soft-color);
    border: none;
    vertical-align: middle;
    margin-top: 2px;
}

.containerProjects {
    width: 95%;
    max-width: 1200px;

}
