
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: var(--font-family-poppins-500);
    font-size: var(--font-size-20);
    color: var(--white-color);
    gap: 5px;
    padding: 5px;
    
    border-radius: var(--border-radius-50);
}

.pageItem {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-50);
    font-family: var(--font-family-poppins-400);
    font-size: var( --font-size-16);
    border: 1px solid rgba(255, 255, 255, 0.441);
    color: var(--white-soft-color);
}

.pageItem:hover {
    background-color: var(--grey-color);
}

.active {
    border: none;
}

.active .pageLink {
    background: var(--blue-color);
    color: var(--button-blue-text);
}


.pageLink {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-50);
}


.pageNext {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--border-radius-8);
    margin-left: 2px;

}


.pagePrev {
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--border-radius-8);
}
