
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: var(--font-family-poppins-500);
    font-size: var(--font-size-20);
    color: var(--white-color);
    gap: 5px;
    padding: 5px;
    background-color: var(--grey-border-color);
    border-radius: var(--border-radius-50);
}

.pageItem {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-8);
    font-family: var(--font-family-poppins-400);
    font-size: var( --font-size-16);
    border: 1.5px solid var(--grey-color);
    color: var(--white-soft-color);
}

.pageItem:hover {
    background-color: var(--grey-color);
}

.active {
    border: none;
}

.active .pageLink {
    background: var(--blue-color);
    color: var(--button-blue-text);
}


.pageLink {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-8);
}


.pageNext {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-8);
    margin-left: 20px;
    border: none;
}


.pagePrev {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: var(--border-radius-8);
}
