.overlay {
    position: fixed;
    inset: 0;
    background: var(--canvas-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.preloader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
    width: 90px;
    height: 90px;

    div {
        background: var(--blue-color);
        transform: scale(0);
        animation: anim 1.5s infinite linear;

        &:nth-of-type(1),
        &:nth-of-type(5),
        &:nth-of-type(9) { animation-delay: 0.4s; }

        &:nth-of-type(4),
        &:nth-of-type(8) { animation-delay: 0.2s; }

        &:nth-of-type(2),
        &:nth-of-type(6) { animation-delay: 0.6s; }

        &:nth-of-type(3) { animation-delay: 0.8s; }
    }
}

@keyframes anim {
    0%   { transform: scale(0); }
    40%  { transform: scale(1); }
    80%  { transform: scale(1); }
    100% { transform: scale(0); }
}

