.ham4 {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;

    path {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: var(--white-color);
        stroke-width: 5.5;
        stroke-linecap: round;
    }

    .top {
        stroke-dasharray: 40 121;
    }

    .bottom {
        stroke-dasharray: 40 121;
    }

    &.active {
        transform: rotate(45deg);

        .top {
            stroke-dashoffset: -68px;
        }
        .bottom {
            stroke-dashoffset: -68px;
        }
    }
}
