
.containerService {
    background-color: var(--black-color);
    padding: 100px 0;
    padding-bottom: 200px;
}

.containerHeader hr {
    width: 20px;
    height: 2.5px;
    background-color: var(--white-soft-color);
    border: none;
    vertical-align: middle;
    margin-top: 2px;
}