

.iconCards {
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    perspective: 1000px;
    transform-origin: center;
}

.iconCardsContent {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.iconCardsItem {
    position: absolute;
    inset: 0;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    border-radius: 6px;
    transform-origin: center;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.iconCardsItem:nth-child(1) {
  background-image: url("/src/shared/assets/images/cardCarousel/blog-list-3.jpg");
  transform: rotateY(0) translateZ(35vw);
  -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0004);
}

.iconCardsItem:nth-child(2) {
  background-image: url("/src/shared/assets/images/cardCarousel/blog-list-2.jpg");
  transform: rotateY(120deg) translateZ(35vw);
  -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0004);
}

.iconCardsItem:nth-child(3) {
  background-image: url("/src/shared/assets/images/cardCarousel/blog-list-1.jpg");
  transform: rotateY(240deg) translateZ(35vw);
  -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0004);
}

.cardText {
    margin-bottom: 25px;
}

@keyframes carousel {
  0%, 17.5% { transform: translateZ(-35vw) rotateY(0); }
  27.5%, 45% { transform: translateZ(-35vw) rotateY(-120deg); }
  55%, 72.5% { transform: translateZ(-35vw) rotateY(-240deg); }
  82.5%, 100% { transform: translateZ(-35vw) rotateY(-360deg); }
}
